{% extends 'base.html.twig' %}

{% block title %}Create Planet{% endblock %}

{% block main %}

{% if app.user == null %}
    <script>
        window.location.href = "{{ path('app_login') }}";
    </script>
{% endif %}
    <section class="wrapper">
        <h1>Create planet</h1>

        {{ include('planet/_form.html.twig') }}
    </section>
{% endblock %}
