{% extends 'base.html.twig' %}

{% block title %} All planets {% endblock %}

{% block main %}

<section class="wrapper">
    <h1>Planets</h1>

    <a href="" class="btn btn_outline mt-4 mb-4">filter by</a>
    <article class="d-flex flex-wrap">
        {% for planet in planets %}
            <div class="galery">
                <img src={{ vich_uploader_asset(planet, 'imageFile') }}  alt="image {{ planet.name }}" class="galeryImg"></img>
                <div class="galeryLink">
                    <a href="{{ path('planet.show', {id: planet.id }) }}" class=" brunoAce">See {{ planet.name|capitalize }}</a>
                </div>
            </div>
        {% endfor %}
    </article>
</section>

{% endblock %}