{% extends 'base.html.twig' %}

{% block title %}Edit ReportPlanet{% endblock %}

{% block body %}
    <h1>Edit ReportPlanet</h1>

    {{ include('report_planet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_report_planet_index') }}">back to list</a>

    {{ include('report_planet/_delete_form.html.twig') }}
{% endblock %}
