{% extends 'base.html.twig' %}

{% block title %}Edit report{% endblock %}

{% block main %}

{% if app.user == null %}
    <script>
        window.location.href = "{{ path('app_login') }}";
    </script>
{% endif %}

    <h1>Edit report</h1>

    {{ include('report_planet/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
