{% extends 'base.html.twig' %}

{% block title %}Edit {{ lifeform.name }} {% endblock %}

{% block main %}

{% if app.user == null %}
    <script>
        window.location.href = "{{ path('app_login') }}";
    </script>
{% endif %}

<section class="wrapper">
    <h1>Edit {{ lifeform.name }}</h1>

    {{ include('lifeform/_form.html.twig', {'button_label': 'Update'}) }}
</section>

{% endblock %}
