{% extends 'base.html.twig' %}

{% block title %} All lifeforms {% endblock %}

{% block main %}

<section class="wrapper">
    <h1>Lifeforms</h1> 

    <div id="filter-buttons-lifeform">
        <button class="btn btn_outline" data-type="Terrestrial">Terrestrial</button>
        <button class="btn btn_outline" data-type="Aquatic">Aquatic</button>
        <button class="btn btn_outline" data-type="Aerial">Aerial</button>
    </div>

    <article class="d-flex flex-wrap justify-content-center" id="lifeformsGalery">
        {% for lifeform in lifeforms %}
            <div class="galery">
                <img src={{ vich_uploader_asset(lifeform, 'imageFile') }}  alt="image {{ lifeform.name }}" class="galeryImg"></img>
                <div class="galeryLink">
                    <a href="{{ path('lifeform.show', {id: lifeform.id }) }}" class=" brunoAce">See {{ lifeform.name|capitalize }}</a>
                </div>
            </div>
        {% endfor %}
    </article>
</section>

{% endblock %}