{% extends 'base.html.twig' %}

{% block title %}Edit ReportLifeform{% endblock %}

{% block body %}
    <h1>Edit ReportLifeform</h1>

    {{ include('report_lifeform/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_report_lifeform_index') }}">back to list</a>

    {{ include('report_lifeform/_delete_form.html.twig') }}
{% endblock %}
