:root {
    --primaryColor: #0D081D;
    --secondaryColor: #2F1C58;
    --tertiaryColor: #AC94B8;
    --white: white;
}

body {
    font-family: "Comfortaa", sans-serif; 
    color: var(--white);
    background: linear-gradient(180deg, rgba(13,8,29,1) 0%, rgba(47,28,88,1) 100%), fixed;
    background-size: cover;
    line-height: 1.8em;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.container-fluid {
    max-width: 1000px;
}

main {
    min-height: calc(100vh - 80px);
}

h1, h2, h3 {
    font-family: "Bruno Ace", sans-serif;
    word-break: keep-all;
}

h1 {
    font-size: 6em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

h2 {
    margin: 40px 0 10px 0;
}

.megrim-regular {
    font-family: "Megrim", system-ui;
    font-size: 5em;
}

.brunoAce {
    font-family: "Bruno Ace", sans-serif;
}

.btn {
    font-family: "Bruno Ace", sans-serif;
    padding: 6px 12px;
    border-radius: 10px;
    text-align: center;
    object-fit: contain;
    text-transform: lowercase;
}

.btn_full {
    background-color: var(--white);
    color: var(--secondaryColor);
}

.btn_outline {
    background-color: none;
    border: 1px solid var(--white);
    color: var(--white);
}

.btn_center {
    display: block;
    width: fit-content;
    margin: 60px auto;
}

.btn_full:hover {
    background-color: var(--secondaryColor);
    color: var(--white);
}

.btn_outline:hover {
    background-color: var(--white);
    border: 1px solid var(--white);
    color: var(--secondaryColor);
}

/* NAVBAR */

.navbar {
    height: 80px;
    background-color: none!important;
    align-items: center;
    z-index: 99;
}

.navbar a {
    font-family: "Comfortaa", sans-serif;
    margin: auto 4px;
    text-transform: capitalize;
    transition: 300ms ease-out;
}

.navbar a:hover {
    color: var(--white);
}

/* HEADER */

.homepage {
    background-image: url(../img/bg_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, left;
    mix-blend-mode: lighten;
    height: 100vh;
}

.homepage h1 {
    position: relative;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    width: fit-content;
}

/* GALAXY */

.galaxyCard {
    position: relative;
    width: 100%;
    height: 600px;
    margin-bottom: 40px;
    overflow: hidden;
}

.galaxyCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 
.galaxyInfo {
    background-color: var(--primaryColor);
    position: absolute;
    width: 30%;
    height: 100%;
    top: 0%;
    right: 0%;
    padding: 60px 40px;
}

.galaxyCard h2 {
    font-size: 3em;
    margin-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.galaxyInfo ul {
    margin-bottom: 40px;
}

.galaxyHead {
    position: relative;
    overflow: hidden;
    min-width: 100%;
    height: calc(100vh - 80px);
}

.galaxyHead img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galaxyHead h1 {
    position: absolute;
    bottom: -3.7%;
    left: 16%;
}

/* PLANET */

.reportBtn {
    background-image: url(../img/blackhole.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center;
    mix-blend-mode: color-dodge;
    height: 600px;
    position: relative;
    margin: 40px 0;
}

.reportBtn a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: fit-content;
}

.lifeformHead img, .userHead img, .planetHead img {
    max-width: 50%;
    height: 100%;
    margin-top: 200px;
}

.planetHeadInfo, .lifeformHeadInfo {
    margin: 40px 0;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.planetHeadInfo a, .lifeformHeadInfo a, .report a {
    color: var(--white);
    transition: 300ms ease-out;
    font-weight: bold;
}

.planetHeadInfo a:hover, .lifeformHeadInfo a:hover, .report a:hover {
    color: var(--tertiaryColor);
}

.userHeadInfo {
    margin: 40px 0;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
}

.userHeadInfo a {
    width: fit-content;
}

.planetLifeform {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.planetLifeformInfo {
    width: 60%;
}

.planetLifeform .galery {
    width: 36%;
}

/* GALERY */

.galery {
    width: 30%;
    height: auto;
    overflow: hidden;
    position: relative;
    margin: 10px;
}

.galeryImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 400ms ease-in-out;
}

.galeryLink {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 400ms ease-in-out;
}

.galeryLink a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    text-align: center;
    padding: 80px 60px;
    font-size: 1.4em;
}

.galery:hover .galeryImg {
    filter: brightness(20%);
    transform: scale(1.4, 1.4);
}

.galery:hover .galeryLink {
    opacity: 1;
}

.none {
    display: none;
}

.galeryActive {
    display: block;
}

/* REPORTS */

.report {
    width: 100%;
    border: 1px solid var(--white);
    background-color: #9747FF60;
    padding: 20px 30px;
    line-height: 2;
    margin: 20px 0;
}

.report h3 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.formDelete {
    width: fit-content;
    margin: 10px 0 0 0;
}

.formDeleteCenter {
    width: fit-content;
    margin:  0 auto;
}

/* FORM */

form {
    max-width: 600px;
    margin: 80px auto;
    text-transform: capitalize;
}

.form-label, .col-form-label {
    font-family: "Bruno Ace", sans-serif;
}

.form-control, .form-select, .form-control:focus, .form-control::placeholder {
    background-color: var(--primaryColor);
    color: var(--white);
    border: none;
    height: 40px;
    margin-bottom: 20px;
    box-shadow: rgba(2, 1, 6, 0.6) 0px 3px 6px 0px inset;
}

.vich-file .form-control {
    height: auto;
}

textarea.form-control, textarea.form-control:focus  {
    height: 200px;
}

#planet_lifeforms {
    display: flex;
    flex-flow: row wrap;
}

.form-check {
    width: 20%;
    margin: 0 20px;
}

.form-check-input {
    background-color: var(--primaryColor);
    border: none;
}

.form-check-input:checked {
    background-color: var(--tertiaryColor);
    border-color: var(--tertiaryColor);
}

.btn-primary {
    background-color: #0D081D00;
    border: 1px solid var(--white);
    color: var(--white);
    float: right;
}

.btn-primary:hover {
    background-color: var(--primaryColor);
    color: var(--white);
    border: 1px solid var(--white);
}

/* FOOTER */

footer {
    background-color: var(--primaryColor);
    color: var(--white);
    text-align: center;
    font-size: 0.8em;
    height: 80px;
    position: relative;
}

footer p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* ANIMATION */
  @keyframes enter-animation {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @media (prefers-reduced-motion: no-preference) {
    .animate-animation {
      animation: enter-animation 0.8s 1;
    }
  }