{% extends 'base.html.twig' %}

{% block title %}Edit {{ user.username }}{% endblock %}

{% block main %}

{% if app.user == null %}
    <script>
        window.location.href = "{{ path('app_login') }}";
    </script>
{% endif %}

<section class="wrapper">
    <h1>Edit {{ user.username }}</h1>

    {{ include('user/_form.html.twig') }}
</section>

{% endblock %}